* {
    margin: 0;
    padding: 0;
}

#slider {
    width: 100%;
    height: 850px;
    display: flex;

    .slider-item {
        width: 1920px;
        height: 100%;
        transition: 0.3s ease-in-out;
        img {
            width: 1920px;
            height: 100%;
        }
    }
}